[Unit]
Description = UserMon
After = sssd.service network.target

[Service]
User = usermon
WorkingDirectory = /var/lib/usermon
ExecStart = /usr/bin/npm run server

[Install]
WantedBy = multi-user.target
