[Unit]
Description = UserMon
After = network.target

[Service]
User = usermon
WorkingDirectory = /share/usermon
ExecStart = /usr/bin/npm run server

[Install]
WantedBy = multi-user.target
