doctype html
html
    head
        meta(charset="UTF-8")
        title
            block title
        link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css")

    body
        div.container
            h1
                block title
            block content
