doctype html
html
    head
        meta(charset="UTF-8")
        title 新規ユーザー

    body
        if message
            h2= message

        h1 新規ユーザー
        form(action="/new_user" method='post')
            div
                label(for="user_name") ユーザー名
                input(name="user_name" id="user_name" type="text")

            div
                label(for="surname") 苗字
                input(name="surname" id="surname" type="text")

            div
                label(for="givenname") 名前
                input(name="givenname" id="givenname" type="text")

            div
                label(for="passwd") パスワード
                input(name="passwd" id="passwd" type="password")

            div
                label(for="passwd_re") パスワード (再入力)
                input(name="passwd_re" id="passwd_re" type="password")

            input(type="submit")

        a(href='/') 戻る
