extends form

block title
    | パスワード変更

block form
    form(action="/passwd" method='post')
        div.form-group
            label(for="user_name") ユーザー名
            input.form-control(name="user_name" id="user_name" type="text" value=user_name)

        div.form-group
            label(for="current_passwd") 現在のパスワード
            input.form-control(name="current_passwd" id="current_passwd" type="password")

        div.form-group
            label(for="new_passwd") 新しいパスワード
            input.form-control(name="new_passwd" id="new_passwd" type="password")

        div.form-group
            label(for="new_passwd_re") 新しいパスワード (再入力)
            input.form-control(name="new_passwd_re" id="new_passwd_re" type="password")

        div.form-group
            button.btn.btn-default(type="submit") 変更
